@import "tailwindcss";
:root{
    --primary-color: #1E40AF;
    --secondary-color: #FBBF24;
    --background-color: #F3F4F6;
    --text-color: #111827;
}
body {
    @apply bg-gray-100 text-gray-900 font-sans;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
